@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --hover-bg: #f3f4f6;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #242424;
        --foreground: #ffffff;
    --hover-bg: #353535;
    }
}

@layer utilities {
    .hover-surface {
        @apply hover:bg-(--hover-bg);
    }
}


@custom-variant dark (&:where(.dark, .dark *));

.dark {
    --background: #242424;
    --foreground: #ffffff;
    --hover-bg: #353535;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.typewriter {
    border-right: .05em solid black;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}